body {
  background-color: antiquewhite;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  font-weight: bold;
  font-size: 50px;
  color: rgb(50, 48, 48);
}

.button {
  width: 350px;
  height: 175px;
  background-color: aqua;
  border-radius: 30px;
  border: none;
  box-shadow: 6px 6px 6px black;
  font-size: 50px;
}
.button:hover {
  width: 370px;
  height: 195px;
}
.button_inp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-weight: bold;
}
